# compiler objects
*.slo
*.lo
*.o
*.obj
*.pdb
*.dbg

# libraries
*.dll
*.so
*.dylib
*.a
*.lib

# exe
*.exe
*.out
*.app

# build directory
build
build/*
target
target/*
obj
obj/*
bin
bin/*

# remedy
*.rdbg


